<nav class=" sticky-top navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="container">
    <a href="#" class="navbar-brand"><b>Library</b></a>  		
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <div class="navbar-nav design">
        <a href="#" class="navbar-brand size"> <b>Welcome,{{data}}</b> </a>
      </div>
      <div class="navbar-nav design1">
        <div class=" nav-item dropdown  ">
          <a class=" dropdown dropbtn"><i class="bi-people-fill"></i></a>
          <div class="dropdown-content">
          <a href="#"><i class=" bi bi-command"></i> Preferences</a>
          <a href="#"><i class=" bi bi-envelope"></i> Contact Support</a>
          <a href="#"><i class="bi bi-box-arrow-in-right"></i> Logout</a>
          </div>
        </div>
      
      </div>
 
</div>
</div>
  
</nav>