<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Gender</th>
        <th scope="col">Email Id</th>
        <th scope="col">DOB</th>
        <th scope="col">Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of data">
      
        <td>{{b.id}}</td>
        <td>{{b.firstname}}</td>
        <td>{{b.lastname}}</td>
        <td>{{b.gender}}</td>
        <td>{{b.emailid}}</td>
        <td>{{b.dob}}</td>
        <td>{{b.mobile}}</td>
      
      </tr>
    </tbody>
</table>